:root {
    --background-color: #ecb;
    --button-text-color: #000000;
    --button-background-color: #ee7700;
    --button-background-color-hover: #aa5500;
}

.appContainer {
    display: flex;
    justify-content: center;
    user-select: none;
    width: 100%;
}

.gridContainer {
    user-select: none;
    max-width: 660px;
    background-color: var(--background-color);
    grid-row-gap: 1vh;
    border-radius: 10px;
}

.centerContent {
    display: flex;
    justify-content: center;
    align-items: center;
}

.first-row {
    height: 8vh;
   
}

.second-row {
    height: 4vh;
}


.mainGameWindow {
    position: relative;
}

.last-row {
    padding-top: 1vh;
    display: flex;
    align-items: flex-start;
    height: 16vh;
}


html {
    font-size: 20px; /* Set the root font size */
}



    @media screen and (max-width: 767px) {
        .last-row {
            height: 24vh;
        }

        html {
            font-size: 16px;
        }


        .painter-option-button {
            flex-basis: 100%;
        }
    } 




 


